<div class="manageAbsenteeism">
  <div class="header">
    <h1 class="header__title">Gestion des absences de classe</h1>
  </div>
  <form class="form">
    <div class="form__group">
      <div class="form__select-group">
        <label class="form__label" for="class-select"
          >Sélectionner la classe :</label
        >
        <select class="form__select" id="class-select"></select>
      </div>
      <div class="form__select-group">
        <label class="form__label" for="date-select"
          >Sélectionner la date :</label
        >
        <input class="form__input" type="date" id="date-select" />
      </div>
      <div class="form__select-group">
        <label class="form__label" for="search-student">Rechercher</label>
        <input
          class="form__input"
          type="search"
          placeholder="Rechercher un étudiant..."
          id="search-student"
        />
      </div>
    </div>

    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          <th class="table__header">#</th>
          <th class="table__header">Nom de l'étudiant</th>
          <th class="table__header">Numéro de l'étudiant</th>
          <th class="table__header">Présence</th>
        </tr>
      </thead>
      <tbody class="table__body" id="tbody">
        <tr class="table__row">
          <td class="table__cell">#2</td>
          <td class="table__cell">Étudiant 2</td>
          <td class="table__cell">67890</td>
          <td class="table__cell">
            <div class="checkbox-group">
              <label class="checkbox-group__label checkbox-group__label-absent">
                <input
                  type="radio"
                  name="attendance2"
                  class="checkbox-group__checkbox"
                  value="Absent"
                />
                Absent
              </label>
              <label
                class="checkbox-group__label checkbox-group__label-present"
              >
                <input
                  type="radio"
                  name="attendance2"
                  class="checkbox-group__checkbox"
                  value="Présent"
                />
                Présent
              </label>
            </div>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">#3</td>
          <td class="table__cell">Étudiant 3</td>
          <td class="table__cell">67891</td>
          <td class="table__cell">
            <div class="checkbox-group">
              <label class="checkbox-group__label checkbox-group__label-absent">
                <input
                  type="radio"
                  name="attendance3"
                  class="checkbox-group__checkbox"
                  value="Absent"
                />
                Absent
              </label>
              <label
                class="checkbox-group__label checkbox-group__label-present"
              >
                <input
                  type="radio"
                  name="attendance3"
                  class="checkbox-group__checkbox"
                  value="Présent"
                />
                Présent
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="form__button" type="submit">Marquer la présence</button>
  </form>
</div>

<script src="../teacher/absenteeisme.js"></script>
