<div class="results-container" id="resultsContainer">
  <div class="header">
    <h1 class="header-title">Gestion des Résultats</h1>
  </div>
  <form class="result-form" id="form">
    <div class="result-form-group">
      <div class="result-form-select-group">
        <label class="result-form-label" for="class-select">classe :</label>
        <select class="result-form-select" id="class-select"></select>
      </div>
      <div class="result-form-select-group">
        <label class="result-form-label" for="cours-select">Cours :</label>
        <select class="result-form-select" id="cours-select"></select>
      </div>
      <div class="result-form-select-group">
        <label class="result-form-label" for="exam-select">Examen :</label>
        <select class="result-form-select" id="exam-select" required>
          <option value="Exam 1">1er Examen</option>
          <option value="Exam 2">2e Examen</option>
          <option value="Exam 3">3e Examen</option>
        </select>
      </div>
      <div class="result-form-select-group">
        <label class="result-form-label" for="action">Action :</label>
        <select class="result-form-select" id="action" required>
          <option value="Add">Enregistrer</option>
          <option value="Update">Metre a jours</option>
        </select>
      </div>
      <div class="result-form-select-group">
        <label class="result-form-label" for="search-student">Rechercher</label>
        <input
          class="result-form-input"
          type="search"
          placeholder="Rechercher un étudiant..."
          id="search-student"
        />
      </div>
    </div>

    <table class="result-table">
      <thead class="result-table-head">
        <tr class="result-table-row">
          <th class="result-table-header" id="number">#</th>
          <th class="result-table-header">Nom de l'élève</th>
          <th class="result-table-header">Numéro de l'élève</th>
          <th class="result-table-header">Points</th>
        </tr>
      </thead>
      <tbody class="result-table-body" id="tbody"></tbody>
    </table>
    <button class="result-form-button" type="submit">
      Enregistrer les résultats
    </button>
  </form>
</div>

<script src="../teacher/exams.js"></script>
