<%- include("../../spinners/spinner1.ejs")%>
<div class="tProfile">
  <div class="tProfile__container">
    <div class="tProfile__container-content">
      <h2 class="tProfile__title" id="teacherProfileTitle">Profile</h2>
      <div class="tProfile__content">
        <div class="tProfile__info">
          <figure class="tProfile__img-box">
            <img src="../profile.png" alt="user image" class="tProfile__img" />
          </figure>
          <div class="tProfile__info-box">
            <div class="tProfile__row">
              <span class="tProfile__label" id="teachermatriculeLabel"
                >Matricule:</span
              >
              <span class="tProfile__value" id="matricule"></span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="fullNameLabel"
                >Nom Complet:</span
              >
              <span class="tProfile__value" id="fullName"></span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="phoneLabel">Téléphone:</span>
              <span class="tProfile__value" id="phone"></span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="dateOfBirthLabel"
                >Date de Naissance:</span
              >
              <span class="tProfile__value" id="dateOfBirth"></span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="teachergenderLabel"
                >Gendre:</span
              >
              <span class="tProfile__value" id="gender"></span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="courseLabel">Cours:</span>
              <span class="tProfile__value" id="course"></span>
            </div>
            <div class="tProfile__divider"></div>
            <h3 class="tProfile__subheading" id="programmeHebdoLabel">
              Programme Hebdomadaire
            </h3>

            <div class="tProfile__row">
              <span class="tProfile__label" id="fDayLabel">Lundi:</span>
              <span class="tProfile__value" id="fDay">9:00-11:00</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="sDayLabel">Mardi:</span>
              <span class="tProfile__value" id="sDay">1:00-3:00</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label" id="tDayLabel">Vendredi:</span>
              <span class="tProfile__value" id="tDay">9:00-11:00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../apiConfig.js"></script>
<script src="../langManager.js"></script>
<script>
  'use strict'
  ;(function async() {
    window.switchLang('teacherProfileTitle', true)
    window.switchLang('teachermatriculeLabel', true)
    window.switchLang('fullNameLabel', true)
    window.switchLang('phoneLabel', true)
    window.switchLang('dateOfBirthLabel', true)
    window.switchLang('teachergenderLabel', true)
    window.switchLang('courseLabel', true)
    window.switchLang('fDayLabel', true)
    window.switchLang('sDayLabel', true)
    window.switchLang('tDayLabel', true)
    window.switchLang('programmeHebdoLabel', true)
    const baseUrl = window.API_URLS.apiUrl
    const getCourseUrl = `${baseUrl}getCourse`
    const getUserByRoleDataUrl = `${baseUrl}getUserByRoleData`
    const teacher = JSON.parse('<%- JSON.stringify(loggedInTeacher) %>')
    const profileImg = document.querySelector('.tProfile__img')
    const spinner = document.querySelector('#spinner')
    if (teacher.profileImage) {
      profileImg.src = `data:${teacher.profileImageType};base64,${teacher.profileImage}`
    } else {
      profileImg.src = '../profile.png'
    }

    const getCourse = async (id) => {
      try {
        const res = await fetch(`${getCourseUrl}/${id}`)
        const data = await res.json()
        return data
      } catch (err) {
        console.log(err)
      }
    }

    const formateDate = (date) => {
      const d = new Date(date)
      const year = d.getFullYear()
      const month = d.getMonth() + 1
      const day = d.getDate()
      return `${year}-${month < 10 ? '0' + month : month}-${
        day < 10 ? '0' + day : day
      }`
    }

    const displayInfo = async (teacher) => {
      const courseName = await getCourse(teacher.course).then(
        (data) => data.course_name
      )
      const matricule = document.querySelector('#matricule')
      const fullName = document.querySelector('#fullName')
      const phone = document.querySelector('#phone')
      const gender = document.querySelector('#gender')
      const birthDate = document.querySelector('#dateOfBirth')
      const course = document.querySelector('#course')
      const fDay = document.querySelector('#fDay')
      const sDay = document.querySelector('#sDay')
      const tDay = document.querySelector('#tDay')

      matricule.textContent = teacher.serial_number
      fullName.textContent = teacher.fullName
      phone.textContent = teacher.contact_info.phone
      birthDate.textContent = formateDate(teacher.dateOfBirth)
      gender.textContent = teacher.gender
      course.textContent = courseName
      spinner.style.display = 'none'
    }

    displayInfo(teacher)
  })()
</script>
