<div class="tProfile">
  <div class="tProfile__container">
    <div class="tProfile__container-content">
      <h2 class="tProfile__title">Profile</h2>
      <div class="tProfile__content">
        <div class="tProfile__info">
          <figure class="tProfile__img-box">
            <img src="../profile.png" alt="user image" class="tProfile__img" />
          </figure>
          <div class="tProfile__info-box">
            <div class="tProfile__row">
              <span class="tProfile__label">Matricule:</span>
              <span class="tProfile__value">123456</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Nom Complet:</span>
              <span class="tProfile__value">John Doe</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Téléphone:</span>
              <span class="tProfile__value">123-456-7890</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Date de Naissance:</span>
              <span class="tProfile__value">1998-05-15</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Gendre:</span>
              <span class="tProfile__value">Homme</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Cours:</span>
              <span class="tProfile__value">MAth</span>
            </div>
            <div class="tProfile__divider"></div>
            <h3 class="tProfile__subheading">Programme Hebdomadaire</h3>
            <div class="tProfile__row">
              <span class="tProfile__label">Lundi:</span>
              <span class="tProfile__value">9:00-11:00</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Mardi:</span>
              <span class="tProfile__value">1:00-3:00</span>
            </div>
            <div class="tProfile__row">
              <span class="tProfile__label">Vendredi:</span>
              <span class="tProfile__value">9:00-11:00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ;(function () {
    const teacher = JSON.parse('<%- JSON.stringify(loggedInUser) %>')
    const profileImg = document.querySelector('.tProfile__img')
    if (teacher.profileImage) {
      profileImg.src = `data:${teacher.profileImageType};base64,${teacher.profileImage}`
    } else {
      profileImg.src = '../profile.png'
    }
  })()
</script>
