<nav class="nav" id="nav">
  <div class="nav__menu container" id="nav-menu">
    <div class="nav__shape"></div>

    <div class="nav__close" id="nav-close">
      <i class="bx bx-x"></i>
    </div>

    <div class="nav__data">
      <div class="nav__mask">
        <!-- Change your profile picture -->
        <img src="../author.JPG" alt="" class="nav__img" />
      </div>

      <span class="nav__greeting">Bonjour!</span>
      <h1 class="nav__name">
        Idrissa <br />
        Rusongeka
      </h1>
    </div>

    <ul class="nav__list">
      <li class="nav__item">
        <a href="#home" class="nav__link active-link">
          <i class="bx bx-user"></i> Profil
        </a>
      </li>
      <li class="nav__item">
        <a href="#schedule" class="nav__link">
          <i class="bx bx-calendar"></i> Programme Hebdomadaire
        </a>
      </li>
      <li class="nav__item">
        <a href="#presenses" class="nav__link">
          <i class="bx bx-check"></i> Présence
        </a>
      </li>
      <li class="nav__item">
        <a href="#calendar" class="nav__link">
          <i class="bx bx-calendar-event"></i> Calendrier des Examens
        </a>
      </li>
      <li class="nav__item">
        <a href="#results" class="nav__link">
          <i class="bx bx-file"></i> Résultats des Examens
        </a>
      </li>

      <li class="nav__item">
        <a href="#fees" class="nav__link">
          <i class="bx bx-credit-card"></i> Frais Scholaire
        </a>
      </li>
    </ul>
  </div>
</nav>
