<nav class="nav" id="nav">
  <div class="nav__menu container" id="nav-menu">
    <div class="nav__shape"></div>

    <div class="nav__close" id="nav-close">
      <i class="bx bx-x"></i>
    </div>

    <div class="nav__data">
      <div class="nav__mask">
        <!-- Change your profile picture -->
        <img src="../author.JPG" alt="" class="nav__img" />
      </div>

      <span class="nav__greeting">Bonjour!</span>
      <h1 class="nav__name">
        Idrissa <br />
        Rusongeka
      </h1>
    </div>

    <ul class="nav__list">
      <li class="nav__item">
        <a href="#home" class="nav__link active-link">
          <i class="bx bx-home"></i> Home
        </a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav__link">
          <i class="bx bx-user"></i> About
        </a>
      </li>
      <li class="nav__item">
        <a href="#portfolio" class="nav__link">
          <i class="bx bx-briefcase-alt-2"></i> Portfolio
        </a>
      </li>
      <li class="nav__item">
        <a href="#skills" class="nav__link">
          <i class="bx bx-bookmark"></i> Skills
        </a>
      </li>
      <li class="nav__item">
        <a href="#contact" class="nav__link">
          <i class="bx bx-message-square-detail"></i> Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
