<nav class="navbar">
  <div class="navbar__brand">Your Brand</div>
  <div class="navbar__profile-box">
    <img
      class="navbar__profile-pic"
      src="../author.JPG"
      alt="Profile Picture"
    />
    <div>
      <p class="navbar__profile-pic--name">John Doe</p>
      <svg class="navbar__logout-icon">
        <use xlink:href="#icon-log-out"></use>
      </svg>
    </div>
  </div>
</nav>
