<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs")%>
  <body>
    <!--=============== NAV ===============-->
    <%- include("navbar.ejs")%>
    <!--=============== MAIN ===============-->
    <%- include("main.ejs")%>
    <!--=============== MAIN JS ===============-->
    <%- include("../components/footer.ejs")%>
    <script src="../parent.js"></script>
  </body>
</html>
