<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs")%>
  <body>
    <!--=============== NAV ===============-->
    <%- include("navbar.ejs", user = loggedInUser)%>
    <!--=============== MAIN ===============-->
    <%- include("main.ejs", user = loggedInUser)%>
    <!--=============== MAIN JS ===============-->

    <script src="../apiConfig.js"></script>
    <script src="../parent.js"></script>
    <script src="../parent2.js"></script>
    <script src="../langManager.js"></script>
  </body>
</html>
<script>
  const langSelector = document.querySelector('#language-select')
  window.switchLang('nav-greeting', true)
  window.switchLang('nav-link-home', true)
  window.switchLang('nav-link-weekly-schedule', true)
  window.switchLang('nav-link-presences', true)
  window.switchLang('nav-link-calendar', true)
  window.switchLang('nav-link-results', true)
  window.switchLang('nav-link-fees', true)
  window.switchLang('nav-link-logout', true)
  window.switchLang('pmatriculeLabel', true)
  window.switchLang('nomCompletLabel', true)
  window.switchLang('telephoneLabel', true)
  window.switchLang('pemailLabel', true)
  window.switchLang('pdateLabel', true)
  window.switchLang('pgenderLabel', true)
  window.switchLang('classeLabel', true)
  window.switchLang('parentNomLabel', true)
  window.switchLang('parentProfessionLabel', true)
  window.switchLang('parentTelephoneLabel', true)
  window.switchLang('parentAdresseLabel', true)
  window.switchLang('pinfoLabel', true)
  window.switchLang('schoolContact', true)
  window.switchLang('schoolNameLabel', true)
  window.switchLang('schoolAddressLabel', true)
  window.switchLang('schoolPhoneLabel', true)
  window.switchLang('schoolAnnouncements', true)
  window.switchLang('announcement1Label', true)
  window.switchLang('announcement2Label', true)
  window.switchLang('announcement1', true)
  window.switchLang('announcement2', true)
  window.switchLang('upcomingEvents', true)
  window.switchLang('event1Label', true)
  window.switchLang('event2Label', true)
  window.switchLang('event1', true)
  window.switchLang('event2', true)
</script>
