<nav class="dashboard-container__navbar">
  <!-- Navbar toggle button -->
  <button class="navbar__toggle">
    <svg class="navbar__toggle-icon">
      <use xlink:href="#icon-menu"></use>
    </svg>
  </button>
  <!-- Navbar search box -->
  <form action="#?" class="navbar__search">
    <!-- Search input -->
    <input
      type="text"
      class="navbar__search-input"
      placeholder="Rechercher"
      id="search"
    />
    <!-- Search label -->
    <button for="search" type="submit">
      <svg class="navbar__search-icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </button>
  </form>
  <div class="navbar__setting">
    <%- include("../../components/langSelector.ejs") %>
    <svg class="navbar__setting-icon">
      <use xlink:href="#icon-log-out"></use>
    </svg>
  </div>

  <!-- Navbar right section -->
</nav>

<script>
  const logout = document.querySelector('.navbar__setting-icon')
  logout.addEventListener('click', () => {
    window.location.href = '/logout'
  })
</script>
