<aside class="dashboard-container__sidebar">
  <div class="sidebar__brand">
    <div class="sidebar__brand-box">
      <img src="../logo.png" alt="logo" class="sidebar__brand-logo" />
    </div>
    <h1 class="heading-primary sidebar__brand-name">مركز الأوائل</h1>
  </div>
  <div class="sidebar__user">
    <div class="sidebar__user-img--box">
      <img
        src="../author.JPG"
        alt="user profile"
        class="sidebar__user-profile"
      />
    </div>
    <p class="sidebar__user-name">Idrissa Rusongeka</p>
  </div>
  <ul class="navigation">
    <li class="navigation__item dashboard">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-meter"></use>
      </svg>
      <p class="navigation__item-title">Tableau de bord</p>
    </li>
    <li class="navigation__item M_absenteeism">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-user-plus"></use>
      </svg>
      <p class="navigation__item-title">Gérer les absences</p>
    </li>
    <li class="navigation__item manageExams">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-clipboard-edit"></use>
      </svg>
      <p class="navigation__item-title">Gérer les résultats</p>
    </li>
    <li class="navigation__item manage-courses">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-book"></use>
      </svg>
      <p class="navigation__item-title">Gérer les cours</p>
    </li>
  </ul>
</aside>
