//colors
$color-primary: #24243e;
$color-primary-light: #302b63;
$color-primary-dark: #201e40;
$color-secondary: #eee2de;
$color-secondary-light: #f7f6f1;
$color-secondary-dark: #cbcbcb;
$color-gray: #e7e7e7;
$color-gray-1: #3d3d3d;

//box shadows

$shadow-dark: 0 2rem 4rem rgba(0, 0, 0, 0.3);
