<aside class="dashboard-container__sidebar toggleSidebar">
  <div class="sidebar__brand">
    <div class="sidebar__brand-box">
      <img src="logo.png" alt="logo" class="sidebar__brand-logo" />
    </div>
    <h1 class="heading-primary sidebar__brand-name">مركز الأوائل</h1>
  </div>
  <div class="sidebar__user">
    <div class="sidebar__user-img--box">
      <img src="profile.png" alt="user profile" class="sidebar__user-profile" />
    </div>
    <p class="sidebar__user-name"><%=admin.FullName%></p>
  </div>
  <ul class="navigation">
    <li class="navigation__item dashboard">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-meter"></use>
      </svg>
      <p class="navigation__item-title" id="sideBarTitle">Tableau de bord</p>
    </li>
    <li class="navigation__item add-student">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-user-plus"></use>
      </svg>
      <p class="navigation__item-title" id="sideBardAddStudent">
        Ajouter un élève
      </p>
    </li>
    <li class="navigation__item manage-student">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-clipboard-edit"></use>
      </svg>
      <p class="navigation__item-title" id="sideBardManStudents">
        Gérer les élèves
      </p>
    </li>
    <li class="navigation__item manage-courses">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-book"></use>
      </svg>
      <p class="navigation__item-title" id="sideBarManCourses">
        Gérer les cours
      </p>
    </li>
    <li class="navigation__item manage-teachers">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-profile"></use>
      </svg>
      <p class="navigation__item-title" id="sideBardManTeachers">
        Gérer les Enseignants
      </p>
    </li>
    <p class="parametre_securite" id="parAndSec">Paramètres&Sécurité</p>
    <li class="navigation__item add-user">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-plus-square"></use>
      </svg>
      <p class="navigation__item-title" id="sideBardAddUser">
        Enregistrer l'utilisateur
      </p>
    </li>
    <li class="navigation__item schedule">
      <svg class="navigation__item-icon">
        <use xlink:href="#icon-calendar"></use>
      </svg>
      <p class="navigation__item-title" id="sideBardSchedule">Horaire</p>
    </li>
  </ul>
</aside>

<script>
  ;(function () {
    const profileImg = document.querySelector('.sidebar__user-profile')
    const user = JSON.parse('<%- JSON.stringify(user) %>')
    if (user.profileImage) {
      profileImg.src = `data:${user.profileImageType};base64,${user.profileImage}`
    } else {
      profileImg.src = 'profile.png'
    }
  })()
</script>
