<!DOCTYPE html>
<html lang="en">
  <!-- Include header.ejs file -->
  <%-include ('header.ejs')%>
  <body>
    <!-- Dashboard container -->
    <div class="dashboard-container">
      <!-- Sidebar -->
      <aside class="dashboard-container__sidebar">
        <!-- Sidebar brand section -->
        <div class="sidebar__brand">
          <div class="sidebar__brand-box">
            <!-- Logo image -->
            <img src="logo.png" alt="logo" class="sidebar__brand-logo" />
          </div>
          <!-- Brand name -->
          <h1 class="heading-primary sidebar__brand-name">مركز الأوائل</h1>
        </div>
        <!-- Sidebar user section -->
        <div class="sidebar__user">
          <div class="sidebar__user-img--box">
            <!-- User profile image -->
            <img
              src="author.JPG"
              alt="user profile"
              class="sidebar__user-profile"
            />
          </div>
          <!-- User name -->
          <p class="sidebar__user-name">Idrissa Rusongeka</p>
        </div>
        <!-- Navigation menu -->
        <ul class="navigation">
          <!-- Navigation item 1 -->
          <li class="navigation__item">
            <!-- Navigation item icon -->
            <svg class="navigation__item-icon">
              <use xlink:href="#icon-meter"></use>
            </svg>
            <!-- Navigation item title -->
            <p class="navigation__item-title">Tableau de bord</p>
          </li>
          <!-- Navigation item 2 -->
          <li class="navigation__item">
            <!-- Navigation item icon -->
            <svg class="navigation__item-icon">
              <use xlink:href="#icon-user-plus"></use>
            </svg>
            <!-- Navigation item title -->
            <p class="navigation__item-title">Ajouter un élève</p>
          </li>
          <!-- Navigation item 3 -->
          <li class="navigation__item">
            <!-- Navigation item icon -->
            <svg class="navigation__item-icon">
              <use xlink:href="#icon-clipboard-edit"></use>
            </svg>
            <!-- Navigation item title -->
            <p class="navigation__item-title">Gérer les élèves</p>
          </li>
          <p class="parametre_securite">Paramètres&Sécurité</p>
          <!-- Navigation item 4 -->
          <li class="navigation__item">
            <!-- Navigation item icon -->
            <svg class="navigation__item-icon">
              <use xlink:href="#icon-plus-square"></use>
            </svg>
            <!-- Navigation item title -->

            <p class="navigation__item-title">Enregistrer l'utilisateur</p>
          </li>
          <li class="navigation__item">
            <!-- Navigation item icon -->
            <svg class="navigation__item-icon">
              <use xlink:href="#icon-data"></use>
            </svg>
            <!-- Navigation item title -->
            <p class="navigation__item-title">Journaux d'audit</p>
          </li>
        </ul>
      </aside>
      <!-- Dashboard content section -->
      <div class="dashboard-container__content">
        <!-- Navbar section -->
        <nav class="dashboard-container__navbar">
          <!-- Navbar toggle button -->
          <button class="navbar__toggle">
            <svg class="navbar__toggle-icon">
              <use xlink:href="#icon-menu"></use>
            </svg>
          </button>
          <!-- Navbar search box -->
          <form action="#?" class="navbar__search">
            <!-- Search input -->
            <input
              type="text"
              class="navbar__search-input"
              placeholder="Rechercher"
              id="search"
            />
            <!-- Search label -->
            <button for="search" type="submit">
              <svg class="navbar__search-icon">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
          </form>
          <div class="navbar__setting">
            <svg class="navbar__setting-icon">
              <use xlink:href="#icon-cog"></use>
            </svg>
          </div>

          <!-- Navbar right section -->
        </nav>
        <!-- Main content section -->
        <main class="dashboard-container__main">main</main>
        <!-- Footer section -->
        <footer class="dashboard-container__footer">footer</footer>
      </div>
    </div>
  </body>
</html>
