<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>
  <body class="home">
    <div class="logo-box">
      <img class="logo__img" src="logo.png" alt="logo" />
    </div>
    <!--option cards-->
    <div class="options-container">
      <div class="card" id="parent-option-card">
        <div class="card-box">
          <img src="family.png" alt="option image " class="card-box__img" />
        </div>
        <div class="card__content">
          <p><span>Accès</span> des parents</p>
        </div>
      </div>

      <div class="card" id="student-option-card">
        <div class="card-box">
          <img src="student.png" alt="option image " class="card-box__img" />
        </div>
        <div class="card__content">
          <p><span>Accès</span> des élèves</p>
        </div>
      </div>
      <div class="card" id="admin-option-card">
        <div class="card-box">
          <img src="admin.png" alt="option image " class="card-box__img" />
        </div>
        <div class="card__content">
          <p><span>Accès</span> administrateur</p>
        </div>
      </div>
    </div>
  </body>
  <!--login pop-up-->
  <section class="section-login hidden">
    <div class="section-login__container">
      <div class="section-login__container-sidebar">
        <div class="section-login__container-sidebar--title">
          <h1 class="heading-primary">مركز الأوائل</h1>
          <h3 class="heading-tertiary" id="login__caption">Accès des élèves</h3>
        </div>
        <div class="section-login__container-sidebar--logo">
          <img
            src="student.png"
            alt="option image "
            class="card-box__img"
            id="login-box__logo"
          />
        </div>
      </div>
      <form action="#" class="login__form">
        <span class="login__form-close">✖️</span>
        <div class="form__group">
          <input
            required
            type="text"
            class="form__input"
            placeholder="Nom d'utilisateur"
            id="username"
          />
          <label for="username" class="form__label">Nom d'utilisateur</label>
        </div>
        <div class="form__group">
          <input
            required
            type="password"
            class="form__input"
            placeholder="Mot de Passe"
            id="password"
          />
          <label for="password" class="form__label">Mot de Passe</label>
        </div>
        <div class="form__group form__group-checkbox">
          <input type="checkbox" class="form__checker" id="checker" />
          <label for="checker" class="form__group-checkbox--label"
            >Afficher Le mot de Passe</label
          >
        </div>
        <div class="form__group">
          <button class="form__btn">Connexion</button>
        </div>
      </form>
    </div>
  </section>
  <!--scripts-->
  <script src="index.js"></script>
</html>
