.addStudent {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  &__container {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
  }

  &__heading {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-color: $color-primary-light-1;
    border-bottom: 1px solid $color-gray;
  }

  //&__content {
  //}

  &-form {
    padding: 1rem 2rem;
    #heading {
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-tertiary;
      @include line-dark;
    }
    .adress,
    .student,
    .parent {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      flex-wrap: wrap;
      align-items: center;
      @include line-dark;
      padding: 2rem 0;
    }

    #matricule,
    #age,
    #sex {
      flex: 0 0 10%;
    }

    &__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      width: 100%;
    }
    &__label {
      display: block;
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-primary-dark;
      margin-bottom: 0.5rem;
    }
    &__input {
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $color-gray;
      color: $color-primary-dark;
      font-size: 1rem;
      font-weight: 400;
      transition: all 0.3s;
      border-bottom: 0.2rem solid transparent;
      &:focus {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
        border-bottom: 0.2rem solid $color-primary-light-1;
      }

      &:focus:invalid {
        border-bottom: 0.2rem solid $color-tertiary;
      }
    }

    &__btn {
      align-self: flex-start;
      margin-top: 2rem;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
      background-color: $color-green-darker;
      border: none;
      border-radius: 0.5rem;
      transition: all 0.3s;
      box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
      margin-bottom: 1rem;
      cursor: pointer;
      backface-visibility: hidden;
      animation: fadeOut 0.5s ease-in-out infinite alternate;
      &:hover {
        background-color: darken($color-green-darker, 10%);
      }
    }
  }
}
