.editStudent {
  display: flex;
  flex-direction: column;

  &__container {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(#fff, 0.2);
    transform: translateY(-10rem) translateX(30rem) scale(0.6);
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  &__container--show {
    transform: translateY(0) scale(1);
  }

  &__heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-primary-dark;
    margin: 1rem 0 0 2rem;
    text-align: center;
  }

  &__content {
    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 5rem;
      padding: 5rem;

      &__box-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--img {
          height: 100%;
          width: 100%;
          transform: scale(1.3);
          transition: all 0.4s;
          object-fit: cover;
          object-position: center;
        }

        figure:hover > .form__box-img--caption {
          opacity: 1;
          visibility: visible;
          transform: translateY(-5rem);
          cursor: pointer;
        }

        figure:hover {
          & > .form__box-img--img {
            transform: scale(1);
            filter: brightness(90%) blur(0.4rem);
          }
        }
        //from__box-img--caption

        figure {
          position: relative;
          float: left;
          width: 15rem;
          height: 15rem;
          clip-path: circle(50% at 50% 50%);
          -webkit-shape-outside: circle(50% to 50% 50%);
          shape-outside: circle(50% at 50% 50%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &--caption {
          font-size: 2.5rem;
          margin-left: 2%;
          position: absolute;
          top: 80%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
        }
        &--name {
          font-size: 1.5rem;
          font-weight: 600;
          color: $color-primary-dark;
          margin: 0.5rem 0 0.7rem;
        }
        &--email {
          font-size: 1.4rem;
          font-weight: 300;
          color: $color-primary-dark;
        }

        &--file {
          display: none;
        }

        &--btn {
          margin-top: 1rem;
          padding: 1rem 1.5rem;
          border: none;
          border-radius: 0.5rem;
          background-color: $color-primary-light-1;
          color: #fff;
          font-size: 1rem;

          font-weight: 400;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: darken($color-primary-light-1, 15%);
          }
        }
      }

      &__box-info {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;

        &--heading {
          font-size: 1.4rem;
          font-weight: 400;
          color: $color-primary-dark;
          margin-bottom: 1rem;
          grid-column: 1 / span 2;
          justify-self: flex-end;
        }
        &--group {
          display: flex;
          flex-direction: column;
          &-action {
            grid-column: 1 / span 2;
            flex-direction: row;
            justify-self: flex-end;
            gap: 1rem;
          }
        }
        &--label {
          font-size: 1.2rem;
          font-weight: 400;
          color: $color-primary-dark;
          margin-bottom: 0.5rem;
        }
        &--input {
          padding: 1rem 1.5rem;
          border: none;
          border-radius: 0.5rem;
          background-color: $color-gray;
          color: $color-primary-dark;
          font-size: 1rem;
          font-weight: 400;
          transition: all 0.3s;
          &:focus {
            outline: none;
            box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.2);
          }
        }

        &--btn {
          margin-top: 1rem;
          padding: 1rem 1.5rem;
          border: none;
          border-radius: 0.5rem;
          background-color: $color-primary-light-1;
          color: #fff;
          font-size: 1rem;
          font-weight: 400;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: darken($color-primary-light-1, 15%);
          }
        }
        .close {
          @include centralize;
          margin-top: 1rem;
          padding: 1rem 1.5rem;
          border: none;
          border-radius: 0.5rem;
          background-color: $color-tertiary-dark;
          color: #fff;
          font-size: 1rem;
          font-weight: 400;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: darken($color-tertiary-dark, 15%);
          }
        }
      }
    }
  }
}
