.options-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.section-login {
  background-color: rgba($color-primary, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    background-color: $color-secondary;
    display: grid;
    grid-template-columns: max-content minmax(max-content, 450px);
    box-shadow: $shadow-light;
    &-sidebar {
      color: #fff;
      padding: 1rem 2rem;
      background-color: $color-primary-dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
