<!DOCTYPE html>
<html lang="en">
  <!-- Include header.ejs file -->
  <%-include ('./components/head.ejs')%>

  <body>
    <!-- Dashboard container -->
    <div class="dashboard-container">
      <!-- Sidebar -->
      <%-include('components/sidebar.ejs',{teacher : teacher})%>
      <!-- Dashboard content section -->
      <div class="dashboard-container__content">
        <!-- Navbar section -->
        <%-include('components/navbar.ejs')%>
        <!-- Main content section -->
        <main class="dashboard-container__main">
          <h1>merhaba</h1>
        </main>
        <!-- Footer section -->
        <%-include("../components/footer.ejs") %>
      </div>
    </div>
  </body>

  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../teacher.js"></script>
</html>
