<div class="dashboard">
  <h1 class="dashboard__heading">Tableau de Bord</h1>
  <div class="dashboard__content">
    <div class="dashboard__card">
      <div class="dashboard__card-content" id="first__card">
        <div class="content__statistics">
          <p class="content__statistics-num">4</p>
          <h2 class="content__statistics-title">Nombre total d'élèves</h2>
        </div>
        <img src="students.svg" alt="students" class="content__icon" />
      </div>

      <div class="dashboard__card-button">
        <span class="dashboard__card-button--text"
          >Plus d'info
          <svg class="arrow">
            <use xlink:href="#icon-arrow-circle-right"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="dashboard__card">
      <div class="dashboard__card-content" id="second__card">
        <div class="content__statistics">
          <p class="content__statistics-num">2</p>
          <h2 class="content__statistics-title">Nombre total d'élèves (M)</h2>
        </div>
        <img src="student-b.svg" alt="students" class="content__icon" />
      </div>

      <div class="dashboard__card-button" id="second__card-btn">
        <span class="dashboard__card-button--text"
          >Plus d'info
          <svg class="arrow">
            <use xlink:href="#icon-arrow-circle-right"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="dashboard__card">
      <div class="dashboard__card-content">
        <div class="content__statistics">
          <p class="content__statistics-num">2</p>
          <h2 class="content__statistics-title">Nombre total d'élèves (F)</h2>
        </div>
        <img src="student-g.svg" alt="students" class="content__icon" />
      </div>

      <div class="dashboard__card-button">
        <span class="dashboard__card-button--text"
          >Plus d'info
          <svg class="arrow">
            <use xlink:href="#icon-arrow-circle-right"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>
<script src="dashBoard.js"></script>
