<%- include("../spinners/spinner2.ejs")%>
<div class="manageAbsenteeism">
  <div class="header">
    <h1 class="header__title">Gestion des absences de classe</h1>
  </div>
  <form class="form" id="form">
    <div class="form__group">
      <div class="form__select-group">
        <label class="form__label" for="class-select">classe :</label>
        <select class="form__select" id="class-select" required>
          <option value="" disabled selected hidden>Choisir une classe</option>
        </select>
      </div>
    </div>
    <section id="schedule" class="section">
      <div class="section__content">
        <table class="class-schedule">
          <thead>
            <tr>
              <th></th>
              <th>Lundi</th>
              <th>Mardi</th>
              <th>Mercredi</th>
              <th>Jeudi</th>
              <th>Vendredi</th>
              <th>Samedi</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </section>

    <button class="form__button" type="submit">Mettre à jour</button>
  </form>
</div>
<script src="apiConfig.js"></script>
<script src="horaire.js"></script>
