<div class="manageTeachers">
  <div class="manageTeachers__container">
    <div class="manageTeachers__header">
      <h1 class="manageTeachers__heading">Gérer les enseignants.</h1>
      <button class="manageTeachers__header-btn" id="addTeacher">
        <span>
          <svg class="manageTeachers__header-icon">
            <use xlink:href="#icon-plus"></use>
          </svg> </span
        >Ajouter un enseignant
      </button>
    </div>
    <div class="manageTeachers__searchbar">
      <label class="manageTeachers__searchbar-label" for="teacher"
        >Rechercher :</label
      >
      <input type="text" class="manageTeachers__searchbar-input" id="teacher" />
    </div>

    <div class="manageTeachers__content">
      <table class="manageTeachers__table">
        <tr class="manageTeachers__row manageTeachers__row--header">
          <th class="manageTeachers__cell manageTeachers__cell--header">#</th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Photo
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">ID</th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Nom complet
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Date de naissance
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Téléphone
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Email
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Adresse
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Qualification
          </th>
          <th class="manageTeachers__cell manageTeachers__cell--header">
            Actions
          </th>
        </tr>
        <tbody id="teachers__tBody"></tbody>
        <!-- Repeat the same structure for other teachers -->
      </table>
    </div>
  </div>
</div>

<!-- add new teacher -->
<div class="addNewTeacher addNewTeacher-hide">
  <div class="addNewTeacher__container">
    <h1 class="addNewTeacher__heading">Ajouter un enseignant</h1>
    <div class="addNewTeacher__content">
      <form action="#" class="addNewTeacher-form">
        <h3 id="heading">Détails de l'enseignant</h3>
        <div class="teacher">
          <div class="addNewTeacher-form__group" id="matricule">
            <label class="addNewTeacher-form__label" for="teacher-no"
              >Matricule</label
            >
            <input
              type="text"
              name="teacher-no"
              id="teacher-no"
              class="addNewTeacher-form__input"
              placeholder="Matricule"
              required
            />
          </div>

          <div class="addNewTeacher-form__group">
            <label class="addNewTeacher-form__label" for="teacher-name"
              >Nom Complet</label
            >
            <input
              type="text"
              name="teacher-name"
              id="teacher-name"
              class="addNewTeacher-form__input"
              placeholder="Nom complet"
              required
            />
          </div>
          <div class="addNewTeacher-form__group">
            <label class="addNewTeacher-form__label" for="teacher-phone"
              >Téléphone</label
            >
            <input
              type="text"
              name="teacher-phone"
              id="teacher-phone"
              class="addNewTeacher-form__input"
              placeholder="Téléphone"
              required
            />
          </div>
          <div class="addNewTeacher-form__group" id="age">
            <label class="addNewTeacher-form__label" for="teacher-age"
              >Date de naissance</label
            >
            <input
              type="date"
              name="teacher-age"
              id="teacher-age"
              class="addNewTeacher-form__input"
              placeholder="Date de naissance"
              required
            />
          </div>
          <div class="addNewTeacher-form__group" id="sex">
            <label class="addNewTeacher-form__label" for="teacher-sex"
              >Sexe</label
            >
            <select
              name="teacher-sex"
              id="teacher-sex"
              class="addNewTeacher-form__input"
            >
              <option value="Masculin">Masculin</option>
              <option value="Feminin">Féminin</option>
            </select>
          </div>
          <div class="addNewTeacher-form__group" id="qualification">
            <label class="addNewTeacher-form__label" for="teacher-qualification"
              >Qualification</label
            >
            <input
              type="text"
              name="teacher-qualification"
              id="teacher-qualification"
              class="addNewTeacher-form__input"
              placeholder="Qualification"
              required
            />
          </div>
          <div class="addNewTeacher-form__group">
            <label class="addNewTeacher-form__label" for="teacher-email"
              >Email</label
            >
            <input
              type="email"
              name="teacher-email"
              id="teacher-email"
              class="addNewTeacher-form__input"
              placeholder="Email"
              required
            />
          </div>
          <div class="addNewTeacher-form__group" id="subjects">
            <label class="addNewTeacher-form__label" for="teacher-subjects"
              >Matières</label
            >
            <select
              name="teacher-subjects"
              id="teacher-subjects"
              class="addNewTeacher-form__input"
              required
            >
              <option value="" name="teacher-course" selected>
                Choisissez une cours
              </option>
            </select>
          </div>

          <div class="addNewTeacher-form__group">
            <label class="addNewTeacher-form__label" for="teacher-img"
              >Photo</label
            >
            <input
              type="file"
              class="addNewTeacher-form__input"
              id="profileImg"
            />
          </div>
        </div>
        <h3 id="heading">Adresse</h3>
        <div class="adress">
          <div class="addNewTeacher-form__group">
            <label class="addNewTeacher-form__label" for="address"
              >Adresse Complet</label
            >
            <textarea
              name="teacher-address"
              id="address"
              class="addNewTeacher-form__input"
              cols="30"
              rows="3"
              style="width: 30rem"
            ></textarea>
          </div>
        </div>
        <div
          class="addNewTeacher-form__group addNewTeacher-form__group-actions"
        >
          <button
            type="submit"
            class="addNewTeacher-form__btn addNewTeacher-form__btn-submit"
          >
            Ajouter
          </button>
          <button
            type="reset"
            class="addNewTeacher-form__btn addNewTeacher-form__btn-cancel"
          >
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- delete teacher -->
<div class="deleteModal deleteTeacher modalHide">
  <div class="deleteModal__content">
    <h2 class="deleteModal__title">Confirmation de Suppression</h2>
    <svg class="deleteModal__icon">
      <use xlink:href="#icon-x-circle" />
    </svg>
    <p class="deleteModal__message">
      Êtes-vous sûr(e) de vouloir supprimer cet Enseignant ?
    </p>
    <div class="deleteModal__buttons">
      <button class="deleteModal__btn deleteModal__btn--cancel">Annuler</button>
      <button class="deleteModal__btn deleteModal__btn--confirm">
        Confirmer
      </button>
    </div>
  </div>
</div>

<!--modify teacher-->
<div class="modifyTeacher editTeacher-hide">
  <div class="editTeacher">
    <div class="editTeacher__container">
      <h1 class="editTeacher__heading">
        Mettre à jour le profil de l'enseignant
      </h1>

      <div class="editTeacher__content">
        <form class="form" id="editForm">
          <div class="form__box-img">
            <figure>
              <img
                src="profile.png"
                alt="user image"
                class="form__box-img--img"
              />
              <figcaption class="form__box-img--caption">🖋️</figcaption>
            </figure>

            <span class="form__box-img--name">Idrissa Rusongeka</span>
            <input type="file" class="form__box-img--file" id="file" />
            <label for="file" class="form__box-img--btn"
              >Modifier L'image</label
            >
          </div>
          <div class="form__box-info">
            <h3 class="form__box-info--heading">Modifier le profil</h3>
            <div class="form__box-info--group">
              <input
                type="text"
                name="matricule"
                id="matricule"
                class="form__box-info--input"
                placeholder="Matricule"
                required
              />
            </div>
            <div class="form__box-info--group">
              <input
                type="text"
                name="nomComplet"
                id="nomComplet"
                class="form__box-info--input"
                placeholder="Nom Complet"
                required
              />
            </div>
            <div class="form__box-info--group">
              <input
                type="email"
                name="email"
                id="email"
                class="form__box-info--input"
                placeholder="Email"
                required
              />
            </div>
            <div class="form__box-info--group">
              <input
                type="tel"
                name="telephone"
                id="telephone"
                class="form__box-info--input"
                placeholder="Téléphone"
                required
              />
            </div>
            <div class="form__box-info--group">
              <input
                type="date"
                name="dateNaissance"
                id="dateNaissance"
                class="form__box-info--input"
                required
              />
            </div>
            <div></div>
            <div class="form__box-info--group">
              <label for="qualification" class="form__box-info--label"
                >Qualification</label
              >
              <input
                type="text"
                name="qualification"
                id="qualification"
                class="form__box-info--input"
                placeholder="Qualification"
                required
              />
            </div>
            <div class="form__box-info--group">
              <label for="sex" class="form__box-info--label">Sexe</label>
              <select name="sex" id="sex" class="form__box-info--input">
                <option value="homme">Homme</option>
                <option value="femme">Femme</option>
              </select>
            </div>

            <div class="form__box-info--group">
              <label for="address" class="form__box-info--label">Address</label>
              <input
                type="text"
                name="address"
                id="address"
                class="form__box-info--input"
                placeholder="Address"
                required
              />
            </div>
            <div class="form__box-info--group form__box-info--group-action">
              <button class="form__box-info--btn">Modifier</button>
              <span class="form__box-info--btn" id="close">Annuler</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="apiConfig.js"></script>
<script src="manageTeachers.js"></script>
<script src="editTeacher.js"></script>
