<div class="manageCourses">
  <h1 class="manageCourses__heading">Gérer les cours</h1>
  <div class="manageCourses__courses"></div>
</div>

<!--add new cours modal-->
<div class="addNewCoursModal addNewCoursModal--hide">
  <div class="addNewCoursModal__container">
    <h1 class="addNewCoursModal__heading">Ajouter un nouveau cours</h1>
    <form class="addNewCoursModal__form">
      <div class="addNewCoursModal__form-group">
        <label for="course-name" class="addNewCoursModal__label"
          >Nom du Cours :
        </label>
        <input
          type="text"
          id="course-name"
          class="addNewCoursModal__input"
          placeholder="Entrez le nom du cours"
          required
        />
      </div>

      <div class="addNewCoursModal__form-group">
        <label for="credits" class="addNewCoursModal__label">Crédits :</label>
        <input
          type="number"
          id="credits"
          class="addNewCoursModal__input"
          placeholder="Entrez le nombre de crédits"
          required
        />
      </div>
      <div class="addNewCoursModal__buttons">
        <button
          class="addNewCoursModal__btn addNewCoursModal__btn--cancel"
          type="reset"
        >
          Annuler
        </button>
        <button
          class="addNewCoursModal__btn addNewCoursModal__btn--add"
          type="submit"
        >
          Ajouter
        </button>
      </div>
    </form>
  </div>
</div>

<!--cours details modal-->
<div class="courseDetailsModal courseDetailsModal--hide">
  <div class="courseDetailsModal__container">
    <h1 class="courseDetailsModal__heading">Détails du cours</h1>
    <div class="courseDetailsModal__container-content"></div>
  </div>
</div>

<script src="manageCourses.js"></script>
