<div class="absence-details" id="absenceDetails">
  <h2 class="absence-details__title" id="absenceDetailsTitle">
    Détails des Absences et des Présences
  </h2>
  <table class="absence-details__table">
    <thead>
      <tr>
        <th class="absence-details__table-header" id="dateHeader">Date</th>
        <th class="absence-details__table-header" id="statusHeader">Statut</th>
      </tr>
    </thead>

    <tbody id="absenceDetailsTableBody">
      <!-- Add more rows as needed -->
    </tbody>
  </table>
  <div class="attendance-overview">
    <h2 class="attendance-overview__title" id="attendanceOverviewTitle">
      Aperçu de la Présence
    </h2>
    <div class="attendance-overview__current-month">
      <div class="attendance-overview__present" id="attendancePresent"></div>
      <div class="attendance-overview__absent" id="attendanceAbsent"></div>
    </div>
  </div>
</div>
