<div class="exams-schedule">
  <table class="exams-schedule__table">
    <thead>
      <tr class="exams-schedule__table-header">
        <th>Date</th>
        <th>Matière</th>
        <th>Heure</th>
        <th>Salle</th>
      </tr>
    </thead>
    <tbody>
      <tr class="exams-schedule__table-row">
        <td class="exams-schedule__table-cell date">2023-09-10</td>
        <td class="exams-schedule__table-cell subject">Mathématiques</td>
        <td class="exams-schedule__table-cell time">09:00 - 11:00</td>
        <td class="exams-schedule__table-cell room">Salle 101</td>
      </tr>
      <tr class="exams-schedule__table-row">
        <td class="exams-schedule__table-cell date">2023-09-12</td>
        <td class="exams-schedule__table-cell subject">Français</td>
        <td class="exams-schedule__table-cell time">14:00 - 16:00</td>
        <td class="exams-schedule__table-cell room">Salle 203</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
