<table class="payment-table">
  <thead class="payment-table__header">
    <tr>
      <th class="payment-table__header-cell">Month</th>
      <th class="payment-table__header-cell">Date</th>
      <th class="payment-table__header-cell">Amount</th>
    </tr>
  </thead>
  <tbody class="payment-table__body">
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">October</td>
      <td class="payment-table__cell payment-table__cell--date">2023-10-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">November</td>
      <td class="payment-table__cell payment-table__cell--date">2023-11-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">December</td>
      <td class="payment-table__cell payment-table__cell--date">2023-12-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">January</td>
      <td class="payment-table__cell payment-table__cell--date">2024-01-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">February</td>
      <td class="payment-table__cell payment-table__cell--date">2024-02-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">March</td>
      <td class="payment-table__cell payment-table__cell--date">2024-03-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">April</td>
      <td class="payment-table__cell payment-table__cell--date">2024-04-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">May</td>
      <td class="payment-table__cell payment-table__cell--date">2024-05-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">June</td>
      <td class="payment-table__cell payment-table__cell--date">2024-06-01</td>
      <td class="payment-table__cell payment-table__cell--amount">$500</td>
    </tr>
  </tbody>
</table>
