<table class="payment-table">
  <thead class="payment-table__header">
    <tr>
      <th
        class="payment-table__header-cell"
        id="payment-table__header-cell--month"
      >
        Mois
      </th>
      <th
        class="payment-table__header-cell"
        id="payment-table__header-cell--date"
      >
        Date
      </th>
      <th
        class="payment-table__header-cell"
        id="payment-table__header-cell--amount"
      >
        Montant
      </th>
    </tr>
  </thead>
  <tbody class="payment-table__body">
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Octobre</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Novembre</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Decembre</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Janvier</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Février</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Mars</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Avril</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Mai</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
    <tr class="payment-table__row">
      <td class="payment-table__cell payment-table__cell--month">Juin</td>
      <td class="payment-table__cell payment-table__cell--date"></td>
      <td class="payment-table__cell payment-table__cell--amount"></td>
    </tr>
  </tbody>
</table>
