<div class="profile">
  <figure class="profile__img-box">
    <img src="../author.JPG" alt="user image" class="profile__img" />
    <!--<figcaption class="profile__img-caption"></figcaption>-->
  </figure>
  <div class="profile__info-box">
    <div class="profile__row">
      <span class="profile__label">Matricule:</span>
      <span class="profile__value">123456</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Nom Complet:</span>
      <span class="profile__value">John Doe</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Téléphone:</span>
      <span class="profile__value">123-456-7890</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Date de Naissance:</span>
      <span class="profile__value">1998-05-15</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Sexe:</span>
      <span class="profile__value">Homme</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Classe:</span>
      <span class="profile__value">Option 1</span>
    </div>
    <div class="profile__divider"></div>
    <h3 class="profile__subheading">Information du Parent</h3>
    <div class="profile__row">
      <span class="profile__label">Nom du Parent:</span>
      <span class="profile__value">Jane Doe</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Profession du Parent:</span>
      <span class="profile__value">Enseignant</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Téléphone du Parent:</span>
      <span class="profile__value">987-654-3210</span>
    </div>
    <div class="profile__row">
      <span class="profile__label">Adresse du Parent:</span>
      <span class="profile__value">123 Rue de Parent, Ville</span>
    </div>
  </div>
</div>
