<div class="results section" id="results">
  <div class="section__content" id="section__content">
    <div class="table-wrapper">
      <table class="class-schedule" id="resultsTable">
        <table class="class-schedule" id="resultsTable">
          <thead>
            <tr>
              <th>Matière</th>
              <th>Examen 1</th>
              <th>Examen 2</th>
              <th>Examen 3</th>
              <th>Examen 4</th>
              <th>Examen 5</th>
              <th>Examen 6</th>
              <th>Examen 7</th>
              <th>Examen 8</th>
              <th>Examen 9</th>
              <th>Examen 10</th>
              <th>Moyenne</th>
              <th>Appréciation</th>
            </tr>
          </thead>
          <tbody>
            <tr id="total">
              <td>Moyenne</td>
              <td colspan="10"></td>
              <td id="totalOverage">89.6</td>
              <td id="totalAppreciation">Excellent</td>
            </tr>

            <!-- Add more rows for other subjects and exam results -->
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>
