<div class="results section" id="results">
  <div class="section__content" id="section__content">
    <div class="table-wrapper">
      <table class="class-schedule" id="resultsTable">
        <thead>
          <tr>
            <th id="resultsTableHeaderSubject">Matière</th>
            <th id="resultsTableHeaderExam1">Examen 1</th>
            <th id="resultsTableHeaderExam2">Examen 2</th>
            <th id="resultsTableHeaderExam3">Examen 3</th>
            <th id="resultsTableHeaderExam4">Examen 4</th>
            <th id="resultsTableHeaderExam5">Examen 5</th>
            <th id="resultsTableHeaderExam6">Examen 6</th>
            <th id="resultsTableHeaderExam7">Examen 7</th>
            <th id="resultsTableHeaderExam8">Examen 8</th>
            <th id="resultsTableHeaderExam9">Examen 9</th>
            <th id="resultsTableHeaderExam10">Examen 10</th>
            <th id="resultsTableHeaderAverage">Moyenne</th>
            <th id="resultsTableHeaderAppreciation">Appréciation</th>
          </tr>
        </thead>
        <tbody>
          <tr id="total">
            <td id="resultsTableTotal">Total</td>
            <td colspan="10"></td>
            <td id="totalOverage"></td>
            <td id="totalAppreciation"></td>
          </tr>

          <!-- Add more rows for other subjects and exam results -->
        </tbody>
      </table>
    </div>
  </div>
</div>
