<div class="results">
  <table class="results__table">
    <thead>
      <tr>
        <th>Matière</th>
        <th>Examen 1</th>
        <th>Examen 2</th>
        <th>Examen 3</th>
        <th>Moyenne</th>
        <th>Appréciation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mathématiques</td>
        <td>90</td>
        <td>85</td>
        <td>92</td>
        <td>89</td>
        <td>Excellent</td>
      </tr>
      <tr>
        <td>Sciences</td>
        <td>75</td>
        <td>80</td>
        <td>78</td>
        <td>77.67</td>
        <td>Bien</td>
      </tr>
      <tr>
        <td>Sciences</td>
        <td>75</td>
        <td>80</td>
        <td>78</td>
        <td>77.67</td>
        <td>Bien</td>
      </tr>
      <tr>
        <td>Sciences</td>
        <td>75</td>
        <td>80</td>
        <td>78</td>
        <td>77.67</td>
        <td>Bien</td>
      </tr>
      <!-- Add more rows for other subjects and exam results -->

      <!-- New row for total average -->
      <tr class="results__table-total">
        <td>Total Moyenne</td>
        <td></td>
        <td></td>
        <td></td>
        <td>81.76</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
