<section id="schedule" class="section">
  <div class="section__content">
    <table class="class-schedule">
      <thead>
        <tr>
          <th></th>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08:00 - 09:30</td>
          <td>Mathématiques</td>
          <td>Langue Française</td>
          <td>Biologie</td>
          <td>Éducation Physique</td>
          <td>Physique</td>
          <td>Chimie</td>
        </tr>
        <tr>
          <td>09:45 - 11:15</td>
          <td>Chimie</td>
          <td>Physique</td>
          <td>Histoire</td>
          <td>Mathématiques</td>
          <td>Langue Française</td>
          <td>Biologie</td>
        </tr>
        <tr>
          <td>11:30 - 13:00</td>
          <td>Langue Française</td>
          <td>Biologie</td>
          <td>Mathématiques</td>
          <td>Chimie</td>
          <td>Physique</td>
          <td>Éducation Physique</td>
        </tr>
        <tr>
          <td>14:00 - 15:30</td>
          <td>Physique</td>
          <td>Chimie</td>
          <td>Histoire</td>
          <td>Mathématiques</td>
          <td>Langue Française</td>
          <td>Biologie</td>
        </tr>
        <tr>
          <td>15:45 - 17:15</td>
          <td>Langue Française</td>
          <td>Biologie</td>
          <td>Mathématiques</td>
          <td>Chimie</td>
          <td>Physique</td>
          <td>Éducation Physique</td>
        </tr>
        <tr>
          <td>17:30 - 19:00</td>
          <td>Physique</td>
          <td>Chimie</td>
          <td>Histoire</td>
          <td>Mathématiques</td>
          <td>Langue Française</td>
          <td>Biologie</td>
        </tr>
        <tr>
          <td>19:15 - 20:45</td>
          <td>Langue Française</td>
          <td>Biologie</td>
          <td>Mathématiques</td>
          <td>Chimie</td>
          <td>Physique</td>
          <td>Éducation Physique</td>
        </tr>
        <tr>
          <td>21:00 - 22:30</td>
          <td>Mathématiques</td>
          <td>Chimie</td>
          <td>Histoire</td>
          <td>Langue Française</td>
          <td>Physique</td>
          <td>Biologie</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
