.blockedUsersModal-show {
  visibility: visible;
  opacity: 1;
}

.blockedUsersModal-hide {
  visibility: hidden;
  opacity: 0;
}

.blockedUsersTable-show {
  transform: translateY(0) scale(1) !important;
}

.blockedUsersModal {
  @include pop;
  display: flex;
  justify-content: center;
  align-items: center;

  &__close-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: darken($color-primary-dark, 10%);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.blockedUsersTable {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
  color: #333;
  background-color: #f2f2f2;
  padding: 1rem 2rem;
  transform: translateY(-30%) scale(0.8);
  transition: all 0.3s;
  thead {
    tr {
      th {
        padding: 8px;
        border: 1px solid #ddd;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 8px;
        border: 1px solid #ddd;
      }
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    color: $color-tertiary-dark;
  }
  &__btn {
    background-color: $color-primary-light-1;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover {
      background-color: darken($color-primary-light-1, 15%);
    }
  }
}
