.login__form {
  &-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: $color-primary;
    cursor: pointer;
  }
}

.form {
  &__group {
  }

  &__label {
  }
  &__input {
  }
  &__button {
  }
}
