.login__form {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;

  &-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $color-primary;
    cursor: pointer;
  }
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    color: inherit;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &-checkbox {
      align-self: flex-start;
      display: flex;
      flex-direction: row;
      &--label {
        display: inline-block;
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  &__input {
  }

  &__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.7rem 0rem 0rem 2rem;
    transform: translateY(-4.4rem);
    opacity: 0;
    transition: all 0.5s;
  }

  &__input:focus + &__label {
    opacity: 1;
    transform: translateY(0);
  }

  &__input::placeholder {
    color: $color-gray-1;
  }

  &__btn {
    background-color: $color-primary;
    padding: 1rem 3rem;
    color: $color-gray;
    align-self: flex-start;
  }

  &__checker {
    background-color: $color-primary;
  }
}
