.profile {
  margin: 3rem 2rem 0 2rem;
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 3rem;
  &__subheading {
    font-size: 2rem;
    font-weight: 600;
    color: $color-tertiary;
    margin: 2rem 0 1rem 0;
  }

  &__info {
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    padding: 1rem 2rem;
    flex: 1;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
  }

  &__img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  //"profile__label"

  &__row {
    border: 0.1rem solid $color-gray;
    display: flex;
  }

  &__label {
    background-color: $color-gray;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-primary;
    justify-self: center;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-gray-dark;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  #email {
    text-transform: lowercase;
  }

  &__announcements {
    font-size: 1rem;
    border: 0.1rem solid $color-gray;
    align-self: start;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  .info {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-tertiary;
    padding: 0.5rem 1rem;
    margin: 0;
  }
}
