.profile {
  margin: 1.5rem 2rem 0 2rem;
  gap: 4rem;
  display: flex;
  padding: 1.5rem 3rem;

  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 0;
    gap: 2rem;
  }

  &__logo {
    width: 20rem;
    display: inline-block;
  }
  &__subheading {
    font-size: 2rem;
    font-weight: 600;
    color: $color-tertiary;
    margin: 2rem 0 1rem 0;
  }

  &__info {
    display: flex;
    gap: 2rem;
    box-shadow: 0 2rem 4rem rgba(hsl(273, 80%, 14%), 0.2);
    padding: 1rem 2rem;
    flex: 1;
    border-radius: 1rem;
    @media screen and (max-width: 370px) {
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
  }

  &__img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;

    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: 0.2rem solid $color-primary-light-1;
  }

  //"profile__label"

  &__row {
    border: 0.1rem solid $color-gray;
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__label {
    background-color: $color-gray;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-primary;
    justify-self: center;
    width: 15rem;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
      width: 10rem;
      justify-content: flex-start;
    }

    @media screen and (max-width: 370px) {
      font-size: 1.2rem;
      width: min-content;
    }
  }

  #classe {
    text-transform: capitalize;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-gray-dark;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
      padding: 0.5rem;
    }
  }

  #email {
    text-transform: lowercase;
  }

  &__announcements {
    font-size: 1rem;
    border: 0.1rem solid $color-gray;
    align-self: start;
    padding: 1rem 2rem;
    box-shadow: 0 2rem 4rem rgba(hsl(273, 80%, 14%), 0.2);
    border-radius: 1rem;
  }

  .info {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-tertiary;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  &__side {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
