.results {
  padding: 4rem 6rem;

  &__subheading {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #f9f9f9;
      font-weight: bold;
    }

    &-row {
      &:nth-child(even) {
        background-color: #f8f8f8;
      }
    }

    &-cell.subject {
      font-weight: bold;
    }
  }
  &__table-total {
    background-color: #f9f9f9;
    font-weight: bold;
    color: $color-tertiary;
  }
}
